body.we-mega-menu-backend{
	@include sizeRem(font-size, 14px);
	.breadcrumb{
		background-color: $white-color;
	}
	.messages--error{
		display: none;
	}
	.block-system-main-block{
		@include wp-font(font-body);
		border: 1px solid $border-color;
		padding: 5% 3%;
		@include clearfix;
		> .we-mega-menu{
			float: right;
			padding-left: 4%;
			width: 30%;
			background-image: url('../images/bar-bor.png');
			background-repeat: no-repeat;
			background-position: left center;
			background-size: contain; 
			@include sizeRem(padding-bottom, 140px);
		}
	}
}

.navbar-we-mega-menu.admin{
	float:left;
	width: 70%;		
	.we-mega-menu-ul > .we-mega-menu-li > a.we-mega-menu-li{
		@include sizeRem(min-width, 170px);
	}
}


// Front End

// ====================
// we mega menu
// ---
body:not(.we-mega-menu-backend) {
	.navbar-we-mega-menu{
		background-color: #eff0f1;
		border: 0 none;
		padding: 0;
		@include border-radius(0);
		min-height: inherit;
		.nav-tabs{
			// margin-bottom: -1px;
		}
		> .container-fluid{
			padding-left: 0;
			padding-right: 0;
		}
	}
	.we-mega-menu-submenu .we-mega-menu-submenu{
		margin-left: 0;
		@include sizeRem(margin-top, -1px);
		@include sizeRemAll(padding, 10px, 15px, 10px, 15px);
	}

	.we-mega-menu-ul{
		&.nav-tabs .dropdown-menu{
			margin-top: 0;
		}
		.dropdown-menu{
			&:hover, &:focus{
				position: relative;
				> a{
					// color: darken($body-color, 15%);
					color: $body-color;
				}
				> .we-mega-menu-submenu{
					display: block;	
				}
			}
			// .dropdown-menu{
			// 	> a{
			// 		&:before{
			// 			@include opacity(0)
			// 		}
			// 		&:after{
			// 			@include opacity(1);
			// 		}
			// 	}
			// }
		}
		> .we-mega-menu-li{
			padding-bottom: 0;
			margin: 0;
			border-left: 1px solid darken(#eff0f1, 5%);
			@include border-radius(0);
			> a{
				background-color: #eff0f1;
				border: 0 none;
				@include border-radius(0);
				color: $body-color;
				@include sizeRem(font-size, 13px);
				@include wp-font(font-bold);
				text-transform: uppercase;
				@include sizeRemAll(padding, 18px, 25px, 18px, 25px);
				&:before{
					@include opacity(1);
				}
				&:after{
					@include opacity(0);
				}
				&:hover, &:focus{
					// background: darken(#eff0f1, 5%);
					background-color: $white-color;
				    border: 0 none;
				    color: $body-color;
				    text-decoration: none;
				    @include text-shadow(initial);
				}
			}
			&:first-child{
				border-left: 0 none;
			}
			& + .we-mega-menu-li{
				margin: 0; 
			}
			&.active, &.active-trail{
				> a{
					// background-color: darken(#eff0f1, 5%);
					background-color: $white-color;
					color: $body-color;
				}
			}
		}
		> .dropdown-menu{
			z-index: 21;
			> a{
				@include sizeRem(padding-right, 38px);
				 // &:after{
			  //   	@include opacity(0);
			  //   }
			}
			&:hover, &:focus{
				> a{
					// background: darken(#eff0f1, 5%);
					background-color: $white-color;
				    color: $body-color;
				    z-index: 23;
				}
			}
			> .we-mega-menu-submenu{
				z-index: 20;
				@include sizeRem(margin-left, -1px);
				@include sizeRem(margin-top, -1px);
				margin-left: -1px;
				margin-top: -1px;
				
				@include sizeRemAll(padding, 10px, 15px, 10px, 15px);
				> .we-mega-menu-submenu-inner{
					@include sizeRem(min-height, 180px);
				}
			}
			&:first-child{
				> .we-mega-menu-submenu{
					margin-left: 0;
				}
			}
		}
	}
	.navbar-we-mega-menu{
		.we-mega-menu-group > .we-mega-menu-submenu{
			@include animation-name(initial !important);
			padding: 0;
			li:first-child{
				> a{
					@include sizeRem(padding-top, 8px);
				}
			}
		}
		a i{
			@include sizeRem(font-size, 20px);
		}
		.we-mega-menu-col > *{
			padding: 0;
		}
	}
	.we-mega-menu-col{
		border: 0 none;
		background-color: transparent;
	}
	.we-mega-menu-group{
		.we-mega-menu-col{
			margin-top: 0;
			margin-bottom: 0;
		}	
	}
	.we-mega-menu-submenu{
		@include border-radius(0);
		// background-color: darken(#eff0f1, 5%);
		background-color: $white-color;
		border: 0 none;
		@include box-shadow(0 5px 5px rgba($black-color, 0.2) !important);
		border: 1px solid darken(#eff0f1, 5%);
		li.we-mega-menu-li{
			border-bottom: 0 none;
			@include border-radius(0);
			margin-bottom: 0;
			a{
				@include border-radius(0);
				// color: darken($white-color, 15%);
				color: $body-color;
				@include wp-font(font-bold);
				border: 0 none;
				@include sizeRem(font-size, 13px);
				border-bottom: 1px solid darken(#eff0f1, 5%);
				padding:{
					left: 0;
					right: 0;
					@include sizeRem(top, 8px);
					@include sizeRem(bottom, 8px);
				}
				background-color: transparent;
				// @include sizeRem(margin-right, 10px);
				&:hover, &:focus{
					background-color: transparent;
					color: $black-color;
					border-bottom-color: $black-color;
					@include border-radius(0);
				}
			}
			&:first-child{
				> a{
					padding-top: 0;
				}
			}
			&:last-child{
				border-bottom: 0 none;
			}
		}
	}
	.nav-tabs .dropdown-menu{
		margin: 0;
	}
}





