// ====================
// Skin Blue: #2a5caa
// ---
nav[data-style = "Blue"]{
	$body-color: $white-color;
	$border-color: darken($link-color, 10%);
	$bg-color: $link-color;

	.we-mega-menu-ul {
		> .we-mega-menu-li > a.we-mega-menu-li{
			color: $body-color;
			border-color: $border-color;
			background-color: $link-color;
		}
		.dropdown-menu {
			> a{
				&:after{
					@include opacity(1);	
				}
				&:hover, &:focus{
						
				}
			}
			.dropdown-menu > a{
				&:before{
					@include opacity(1);
				}
				&:after{
					@include opacity(0);
				}

				&:hover, &:focus{
					&:after{
						border-top-color: $body-color;
					}
				}
			}
			&.hover > a{
				&:after{
					@include opacity(0);
				}
			}
		}
		.selected{
			> a:after{
				@include opacity(0);
			}
		}
	}

	.we-mega-menu-submenu{
		li.we-mega-menu-li a{
			color: $link-color;
		}
	}
	.navbar-we-mega-menu .we-mega-menu-submenu a i{
		color: $bg-color;
	}

	// Front End
	body:not(.we-mega-menu-backend) &{
		background-color: $link-color;

		.we-mega-menu-ul {
			> .we-mega-menu-li{
				border-left-color: darken($link-color, 5%);
				> a{
					&:hover, &:focus{
						background-color: darken($link-color, 5%);
						color: $white-color;
					}
				}
				&.active, &.active-trail{
					> a{
						background-color: darken($link-color, 5%);
						color: $white-color;
					}
				}
			}
			> .dropdown-menu{
				&:hover, &:focus{
					> a{
						background-color: darken($link-color, 5%);
						color: $white-color;
					}
				}
			}
			.dropdown-menu .dropdown-menu > a{
				&:before {
					@include opacity(0);
				}
				&:after {
					@include opacity(1);
				}
			}
		}
		.we-mega-menu-submenu {
			border-color: darken($link-color, 5%);
			background-color: darken($link-color, 5%);
			li.we-mega-menu-li a{
				color: darken($body-color, 15%);
				border-bottom-color: darken($body-color, 15%);
				&:hover, &:focus{
					color: $white-color;
					border-bottom-color: $white-color;
				}
			}
		}

	}

}

// ====================
// Skin Red: #b8323d
// ---
nav[data-style = "Red"]{
	$link-color: $red;
	$body-color: $white-color;
	$border-color: darken($link-color, 10%);
	$bg-color: $link-color;

	.we-mega-menu-ul {
		> .we-mega-menu-li > a{
			color: $body-color;
			border-color: $border-color;
			background-color: $link-color;
		}
		.dropdown-menu {
			> a{
				&:after{
					@include opacity(1);	
				}
				&:hover, &:focus{
						
				}
			}
			.dropdown-menu > a{
				&:before{
					@include opacity(1);
				}
				&:after{
					@include opacity(0);
				}

				&:hover, &:focus{
					&:after{
						border-top-color: $body-color;
					}
				}
			}
			&.hover > a{
				&:after{
					@include opacity(0);
				}
			}
		}
		.selected{
			> a:after{
				@include opacity(0);
			}
		}
	}

	.we-mega-menu-submenu{
		li.we-mega-menu-li a{
			color: $link-color;
		}
	}
	.navbar-we-mega-menu .we-mega-menu-submenu a i{
		color: $bg-color;
	}

	
	// Front End
	body:not(.we-mega-menu-backend) &{
		background-color: $link-color;

		.we-mega-menu-ul {
			> .we-mega-menu-li{
				border-left-color: darken($link-color, 5%);
				> a{
					&:hover, &:focus{
						background-color: darken($link-color, 5%);
						color: $white-color;
					}
				}
				&.active, &.active-trail{
					> a{
						background-color: darken($link-color, 5%);
						color: $white-color;
					}
				}
			}
			> .dropdown-menu{
				&:hover, &:focus{
					> a{
						background-color: darken($link-color, 5%);
						color: $white-color;
					}
				}
			}
			.dropdown-menu .dropdown-menu > a{
				&:before {
					@include opacity(0);
				}
				&:after {
					@include opacity(1);
				}
			}
		}
		.we-mega-menu-submenu {
			border-color: darken($link-color, 5%);
			background-color: darken($link-color, 5%);
			li.we-mega-menu-li a{
				color: darken($body-color, 15%);
				border-bottom-color: darken($body-color, 15%);
				&:hover, &:focus{
					color: $white-color;
					border-bottom-color: $white-color;
				}
			}
		}
	}
}

// ====================
// Skin Yellow: #e4bb25
// ---
nav[data-style = "Yellow"]{
	$link-color: $yellow;
	$body-color: $white-color;
	$border-color: darken($link-color, 10%);
	$bg-color: $link-color;

	.we-mega-menu-ul {
		> .we-mega-menu-li > a.we-mega-menu-li{
			color: $body-color;
			border-color: $border-color;
			background-color: $link-color;
		}
		.dropdown-menu {
			> a{
				&:after{
					@include opacity(1);	
				}
				&:hover, &:focus{
						
				}
			}
			.dropdown-menu > a{
				&:before{
					@include opacity(1);
				}
				&:after{
					@include opacity(0);
				}

				&:hover, &:focus{
					&:after{
						border-top-color: $body-color;
					}
				}
			}
			&.hover > a{
				&:after{
					@include opacity(0);
				}
			}
		}
		.selected{
			> a:after{
				@include opacity(0);
			}
		}
	}

	.we-mega-menu-submenu{
		// border-color: $border-color;
		// background-color: $link-color;
		li.we-mega-menu-li a{
			color: $link-color;
		}
	}
	.navbar-we-mega-menu .we-mega-menu-submenu a i{
		color: $bg-color;
	}


	// Front End
	body:not(.we-mega-menu-backend) &{
		background-color: $link-color;

		.we-mega-menu-ul {
			> .we-mega-menu-li{
				border-left-color: darken($link-color, 5%);
				> a{
					&:hover, &:focus{
						background-color: darken($link-color, 5%);
						color: $white-color;
					}
				}
				&.active, &.active-trail{
					> a{
						background-color: darken($link-color, 5%);
						color: $white-color;
					}
				}
			}
			> .dropdown-menu{
				&:hover, &:focus{
					> a{
						background-color: darken($link-color, 5%);
						color: $white-color;
					}
				}
			}
			.dropdown-menu .dropdown-menu > a{
				&:before {
					@include opacity(0);
				}
				&:after {
					@include opacity(1);
				}
			}
		}
		.we-mega-menu-submenu {
			border-color: darken($link-color, 5%);
			background-color: darken($link-color, 5%);
			li.we-mega-menu-li a{
				color: darken($body-color, 15%);
				border-bottom-color: darken($body-color, 15%);
				&:hover, &:focus{
					color: $white-color;
					border-bottom-color: $white-color;
				}
			}
		}
	}
}

// ====================
// Skin Green: #92b457
// ---
nav[data-style = "Green"]{
	$link-color: $green;
	$body-color: $white-color;
	$border-color: darken($link-color, 10%);
	$bg-color: $link-color;

	.we-mega-menu-ul {
		> .we-mega-menu-li > a.we-mega-menu-li{
			color: $body-color;
			border-color: $border-color;
			background-color: $link-color;
		}
		.dropdown-menu {
			> a{
				&:after{
					@include opacity(1);	
				}
				&:hover, &:focus{
						
				}
			}
			.dropdown-menu > a{
				&:before{
					@include opacity(1);
				}
				&:after{
					@include opacity(0);
				}

				&:hover, &:focus{
					&:after{
						border-top-color: $body-color;
					}
				}
			}
			&.hover > a{
				&:after{
					@include opacity(0);
				}
			}
		}
		.selected{
			> a:after{
				@include opacity(0);
			}
		}
	}

	.we-mega-menu-submenu{
		// border-color: $border-color;
		// background-color: $link-color;
		li.we-mega-menu-li a{
			color: $link-color;
		}
	}
	.navbar-we-mega-menu .we-mega-menu-submenu a i{
		color: $bg-color;
	}

	// Front End
	body:not(.we-mega-menu-backend) &{
		background-color: $link-color;

		.we-mega-menu-ul {
			> .we-mega-menu-li{
				border-left-color: darken($link-color, 5%);
				> a{
					&:hover, &:focus{
						background-color: darken($link-color, 5%);
						color: $white-color;
					}
				}
				&.active, &.active-trail{
					> a{
						background-color: darken($link-color, 5%);
						color: $white-color;
					}
				}
			}
			> .dropdown-menu{
				&:hover, &:focus{
					> a{
						background-color: darken($link-color, 5%);
						color: $white-color;
					}
				}
			}
			.dropdown-menu .dropdown-menu > a{
				&:before {
					@include opacity(0);
				}
				&:after {
					@include opacity(1);
				}
			}
		}
		.we-mega-menu-submenu {
			border-color: darken($link-color, 5%);
			background-color: darken($link-color, 5%);
			li.we-mega-menu-li a{
				color: darken($body-color, 15%);
				border-bottom-color: darken($body-color, 15%);
				&:hover, &:focus{
					color: $white-color;
					border-bottom-color: $white-color;
				}
			}
		}
	}
}

// ====================
// Skin White: #eff0f1
// ---
nav[data-style = "White"]{
	
	$link-color: $white1;
	$body-color: $darkgray;
	$border-color: darken($link-color, 10%);
	$bg-color: $link-color;

	.we-mega-menu-ul {
		> .we-mega-menu-li > a.we-mega-menu-li{
			color: $body-color;
			border-color: $border-color;
			background-color: $link-color;
		}
	}
}


// ====================
// Animation: Fading
// ---
nav[data-animation = "Fading"]{
	.we-mega-menu-ul .we-mega-menu-li.dropdown-menu.open > .we-mega-menu-submenu,
	&:not(.admin) .we-mega-menu-ul .dropdown-menu:hover > .we-mega-menu-submenu,
	&:not(.admin) .we-mega-menu-ul .dropdown-menu:focus > .we-mega-menu-submenu{
		@include animated;
		@include animation-name(fadeInFromNone);
	}
}

nav[data-animation = "Slide"]{
	.we-mega-menu-ul .we-mega-menu-li.dropdown-menu.open > .we-mega-menu-submenu,
	&:not(.admin) .we-mega-menu-ul .dropdown-menu:hover > .we-mega-menu-submenu,
	&:not(.admin) .we-mega-menu-ul .dropdown-menu:focus > .we-mega-menu-submenu{
		@include animated;
		@include animation-name(slideInUp);
	}
}

nav[data-animation = "Zoom"]{
	.we-mega-menu-ul .we-mega-menu-li.dropdown-menu.open > .we-mega-menu-submenu,
	&:not(.admin) .we-mega-menu-ul .dropdown-menu:hover > .we-mega-menu-submenu,
	&:not(.admin) .we-mega-menu-ul .dropdown-menu:focus > .we-mega-menu-submenu{
		@include animated;
		@include animation-name(zoomInUp);
		@include animation-duration(0.5s);
	}
}

nav[data-animation = "Elastic"]{
	.we-mega-menu-ul .we-mega-menu-li.dropdown-menu.open > .we-mega-menu-submenu,
	&:not(.admin) .we-mega-menu-ul .dropdown-menu:hover > .we-mega-menu-submenu,
	&:not(.admin) .we-mega-menu-ul .dropdown-menu:focus > .we-mega-menu-submenu{
		@include animated;
		@include animation-name(bounceInUp);
		@include animation-duration(0.5s);
	}
}










